

$font-size-titulo: 30px;
$color-titulo: #e71515;


.titulosPrincipales {
    font-size: $font-size-titulo;
    color: $color-titulo;
    text-align: center;
  }

  .h2subtitulos {
    text-align: left;
    font-size: 25px;
    font-style: italic;
    color: #050505c0;
    text-align: center;
  }
  